{% extends "base.html" %}

{% block content %}

<h2>{{ user.username }}</h2>

<ul>
    <li><a href="{% url 'accounts:change_password' %}">change password</a></li>
</ul>


<h4>Update account</h4>
<form method="post" action="{% url 'accounts:edit' %}">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.info.label_tag }}</td>
            <td>{{ form.info }}</td>
        </tr>
    </table>

    <input type="submit" value="update" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}