{% extends "base.html" %}
{% load microblog_filters %}

{% block content %}

<h2>{{ user.username }}</h2>

{% if user.image %}
    <img src="{{ MEDIA_URL }}{{ user.image }}" class="profileImage" />
{% else %}
    <p>no profile image.</p>
{% endif %}

<ul>
    <li><a href="{% url 'accounts:change_password' %}">change password</a></li>
</ul>


<h4>Update account</h4>

{% if form.errors %}
    <table>
        {% for field in form %}
            <tr>
                <td>{{ field.name }}</td>
                <td>{{ field.errors }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

<form method="post" action="{% url 'accounts:edit' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.name.label_tag }}</td>
            <td>{{ form.name|add_css_class:"form-control" }}</td>
        </tr>
        <tr>
            <td>{{ form.info.label_tag }}</td>
            <td>{{ form.info|add_css_class:"form-control" }}</td>
        </tr>
        <tr>
            <td>{{ form.image.label_tag }}</td>
            <td>{{ form.image }}</td>
        </tr>
    </table>

    <input type="submit" value="update" class="btn btn-default" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}