{% extends "base.html" %}

{% block content %}

<h2>{{ user.username }}</h2>

{% if user.image %}
    <img src="{{ MEDIA_URL }}{{ user.image }}" />
{% else %}
    <p>no profile image.</p>
{% endif %}

<ul>
    <li><a href="{% url 'accounts:change_password' %}">change password</a></li>
</ul>


<h4>Update account</h4>
<form method="post" action="{% url 'accounts:edit' %}" enctype="multipart/form-data">
    {% csrf_token %}

    <table>
        <tr>
            <td>{{ form.info.label_tag }}</td>
            <td>{{ form.info }}</td>
        </tr>
        <tr>
            <td>{{ form.image.label_tag }}</td>
            <td>{{ form.image }}</td>
        </tr>
    </table>

    <input type="submit" value="update" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}