{% extends "base.html" %}
{% load humanize %}
{% load microblog_filters %}
{% load accounts %}

{% block content %}

    <h2>
        {{ pageUser.name }} ({{ pageUser|account_name }})

        <ul class="horizontalList">
            {% if user.is_moderator or user.is_staff %}
            <li>
                <a href="{% url 'accounts:disable_confirm' pageUser.username %}">
                    {% if pageUser.is_active %}
                        disable
                    {% else %}
                        enable
                    {% endif %}
                </a>
            </li>
            {% endif %}

            {% if user.is_staff %}
            <li>
                <a href="{% url 'accounts:set_moderator_confirm' pageUser.username %}">
                    {% if pageUser.is_moderator %}
                        un-mod
                    {% else %}
                        mod
                    {% endif %}
                </a>
            </li>
            <li>
                <a href="{% url 'accounts:remove_confirm' pageUser.username %}">remove</a>
            </li>
            {% endif %}

            {% if user.is_authenticated %}
            {% if user.username != pageUser.username %}
                <li>
                    <a href="{% url 'follow' pageUser.username %}?next={{ request.get_full_path|urlencode }}">
                        {% if request.user|is_following:pageUser.username %}
                            un-follow
                        {% else %}
                            follow
                        {% endif %}
                    </a>
                </li>
            {% else %}
                <li><a href="{% url 'accounts:edit' %}">edit account</a></li>
            {% endif %}
            {% endif %}
        </ul>
    </h2>

    {% if pageUser.image %}
        <img class="profileImage" src="{{ MEDIA_URL }}{{ pageUser.image }}" />
    {% endif %}

    <p>User since: {{ pageUser.date_joined }} ({{ pageUser.date_joined|naturaltime }})</p>

    <p>{{ pageUser.info }}</p>

    {% if user.is_authenticated %}
    <ul>
    {% if user.username != pageUser.username %}
        <li><a href="{% url 'accounts:message_send' pageUser.username %}">Send private message.</a></li>
    {% else %}
        <li><a href="{% url 'accounts:message_all' %}">See private messages
            {% if unreadMessages %}
                (<em>{{ unreadMessages }}</em> unread)
            {% endif %}
        </a></li>
    {% endif %}
    </ul>
    {% endif %}


<ul class="horizontalList">
    <li {% if postSelected %}class="entrySelected"{% endif %}>
        <a href="{{ pageUser.get_url }}">messages: {{ pageUser.get_message_count }}</a>
    </li>
    <li {% if imagesSelected %}class="entrySelected"{% endif %}>
        <a href="{% url 'accounts:user_page_specify' pageUser.username "images" %}">images: {{ pageUser.get_images_count }}</a>
    </li>
    <li {% if followersSelected %}class="entrySelected"{% endif %}>
        <a href="{% url 'accounts:user_page_specify' pageUser.username "followers" %}">Followers: {{ pageUser.get_followers.count }}</a>
    </li>
    <li {% if followingSelected %}class="entrySelected"{% endif %}>
        <a href="{% url 'accounts:user_page_specify' pageUser.username "following" %}">Following: {{ pageUser.get_following.count }}</a>
    </li>
</ul>

{% if postSelected or imagesSelected %}
    {% include "messages.html" with messages=elements %}
{% elif followersSelected or followingSelected %}
    {% include "users.html" with users=elements %}
{% endif %}

{% endblock %}