{% extends "base.html" %}
{% load humanize %}
{% load microblog_filters %}

{% block content %}

    <h2>
        {{ pageUser.username }}

        <ul class="horizontalList">
            {% if user.is_staff %}
            <li>
                <a href="{% url 'accounts:set_moderator' pageUser.username %}">
                    {% if pageUser.is_moderator %}
                        un-mod
                    {% else %}
                        mod
                    {% endif %}
                </a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
                {% if user.username != pageUser.username %}
                <li>
                    <a href="{% url 'follow' pageUser.username %}">
                        {% if request.user|is_following:pageUser.username %}
                            un-follow
                        {% else %}
                            follow
                        {% endif %}
                    </a>
                </li>
                <li><a href="{% url 'accounts:send_message' pageUser.username %}">Send private message</a></li>
            {% else %}
                <li><a href="{% url 'accounts:edit' %}">edit account</a></li>
                <li><a href="{% url 'accounts:check_message' %}">See messages</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </h2>

    <p>User since: {{ pageUser.date_joined }} ({{ pageUser.date_joined|naturaltime }})</p>

    <p>{{ pageUser.info }}</p>

    <p>Followers: {{ pageUser.get_followers_count }}</p>
    <p>Following: {{ pageUser.get_following_count }}</p>

{% if posts %}
    <table>
        {% for post in posts %}
            <tr>
                <td>{{ post.text|category_links }}</td>
                <td><a href="{{ post.user.get_url }}">{{ post.user }}</a></td>
                <td>{{ post.date_created|naturaltime }}</td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No posts.</p>
{% endif %}


{% endblock %}