    /* Basic Elements */

body
    {
    font-size: 16px;
    margin: 10px;
    }

em
    {
    font-weight: bold;
    font-style: normal;
    }

td, th
    {
    padding: 10px;
    }


    /* Top Menu */

#Message
    {
    cursor: pointer;
    background-color: rgba(201, 219, 237, 0.83);
    }


    /* Generic Classes */

.horizontalList
    {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    }

.horizontalList > *
    {
    display: inline-block;
    }

.red
    {
    color: red;
    }

.Accounts-disabled
    {
    color: gray;
    text-decoration: underline;
    }

.Accounts-moderator
    {
    color: green;
    font-weight: bold;
    text-decoration: underline;
    }

.Accounts-staff
    {
    color: brown;
    font-weight: bold;
    text-decoration: underline;
    }

.clickableRow
    {
    cursor: pointer;
    }

.tooltip
    {
    position: absolute;
    min-width: 100px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px 0;
    padding: 5px;
    }

.SortTable-sortable
    {
    color: rgb(0, 0, 255);
    cursor: pointer;
    }

.SortTable-sortable:hover
    {
    text-decoration: underline;
    }

.entrySelected
    {
    font-weight: bold;
    }


    /* Accounts/User Page */

#CheckMessagesTable tr:nth-child(even)
    {
    background-color: #e6edeb;
    }

#CheckMessagesTable td
    {
    padding: 5px;
    min-width: 200px;
    position: relative;
    }

#CheckMessagesTable td:last-child
    {
    min-width: 10px;
    }

#PrivateMessage-title
    {
    background-color: aliceblue;
    text-align: center;
    }


    /* Posts */

.post
    {
    height: 100px;
    }

.post:nth-child(even)
    {
    background-color: rgba(74, 154, 157, 0.09);
    }

.postText
    {
    min-width: 500px;
    }

.postText-content
    {
    margin: 20px 0;
    }

.postText img
    {
    max-height: 200px;
    max-width: 200px;
    }

.postProfileImage
    {
    vertical-align: top;
    }

.postProfileImage > img
    {
    width: 50px;
    height: 50px;
    }

.profileImage
    {
    max-width: 200px;
    max-height: 200px;
    }

.postUser, .postDate
    {
    text-align: center;
    }

#PostTable
    {
    margin: auto;
    }

#PostText
    {
    width: 100%;
    }

#PostImage
    {
    display: inline-block;
    }

#Menu form
    {
    display: inline-block;
    }

#SearchForm
    {
    margin-right: 0;
    }

#CategoryHeader
    {
    text-align: center;
    }


