#Message
    {
    background-color: rgba(201, 219, 237, 0.83);
    }

.horizontalList
    {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    }

.horizontalList > *
    {
    display: inline-block;
    }

.post
    {
    height: 100px;
    }

.post:nth-child(even)
    {
    background-color: rgba(74, 154, 157, 0.09);
    }

.postText
    {
    min-width: 500px;
    }

.postUser, .postDate
    {
    text-align: center;
    }

#PostTable
    {
    margin: auto;
    }