{% load static %}
{% load accounts %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>micro-blog</title>

    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static 'js/website.js' %}"></script>

    {% block scripts %}{% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>

<nav id="Menu" class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'home' %}">home</a></li>

        {% if user.is_authenticated %}
            <li><a href="{% url 'accounts:user_page' user.username %}">{{ user.username }}</a></li>
            <li><a href="{% url 'accounts:logout' %}?next={{ request.get_full_path|urlencode }}">logout</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path|urlencode }}">login</a></li>
        {% endif %}

        <li><a href="{% url 'people' %}">find people</a></li>
        <li><a href="{% url 'categories' %}">categories</a></li>

        <li><a href="{% url 'post' %}">post</a></li>

    </ul>


    <form method="post" action="{% url 'search' %}" class="navbar-form navbar-right" id="SearchForm">
        {% csrf_token %}

        <input id="SearchText" name="SearchText" type="text" class="form-control" />
        <input type="submit" value="search" class="btn btn-default" />
    </form>
</nav>

{% if MESSAGE %}
    <p id="Message" title="Click to Remove" onclick="WebSite.removeElement(this);">{{ MESSAGE }}</p>
{% endif %}

{% block content %}{% endblock %}

</body>
</html>