{% extends "base.html" %}
{% load humanize %}
{% load microblog_filters %}

{% block content %}

<h1>{{ categoryName }}</h1>

{% if posts %}
    <table>
    {% for post in posts %}
        <tr>
            <td>{{ post.text|category_links }}</td>
            <td><a href="{{ post.user.get_url }}">{{ post.user }}</a></td>
            <td>{{ post.date_created|naturaltime }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No posts.</p>
{% endif %}


{% endblock %}