{% extends "base.html" %}
{% load humanize %}
{% load microblog_tags %}

{% block content %}

{% if posts %}
    <table id="PostTable">
        {% for post in posts %}
            <tr class="post">
                <td class="postText">{{ post.text|category_links }}</td>
                <td class="postUser"><a href="{{ post.user.get_url }}">{{ post.user }}</a></td>
                <td class="postDate">{{ post.date_created|naturaltime }}</td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>No posts.</p>
{% endif %}

{% endblock %}