{% load humanize %}
{% load microblog_filters %}

{% if messages %}
    <table id="PostTable">
        {% for message in messages %}
            {% if message == selected_message %}
                {% include "_message.html" with message=message message_id="SelectedPost" %}

                {% for reply in replies %}
                    {% include "_message.html" with message=reply message_class="replyPost" %}
                {% endfor %}
            {% else %}
                {% include "_message.html" with message=message %}
            {% endif %}
        {% endfor %}
    </table>
{% else %}
    <p>No messages yet. Try to follow <a href="{% url 'people' %}">some people.</a></p>
{% endif %}