{% load humanize %}
{% load microblog_filters %}

{% if messages %}
    <table id="PostTable">
        {% for message in messages %}
            <tr class="post" id="post{{ forloop.counter }}">
                <td class="postProfileImage">
                {% if message.user.image %}
                    <img src="{{ MEDIA_URL }}{{ message.user.image }}" />
                {% endif %}
                </td>
                <td class="postText">
                    <div>
                        <a href="{{ message.user.get_url }}">{{ message.user.name }} ({{ message.user.username }})</a> {{ message.date_created|naturaltime }}
                    </div>
                    <div class="postText-content">
                        {{ message.text|category_links }}
                        <div>
                            {% if message.image %}
                                <img src="{{ MEDIA_URL }}{{ message.image }}" />
                            {% endif %}
                        </div>
                    </div>
                    <div>
                        <ul class="horizontalList">
                            <li><a href="{% url 'reply' message.get_thread_identifier %}">reply</a></li>
                            <li><a href="{{ message.get_url }}">open</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No messages yet. Try to follow <a href="{% url 'people' %}">some people.</a></p>
{% endif %}