{% extends "base.html" %}
{% load microblog_filters %}

{% block content %}

<h1>People</h1>

{% if users %}
    <table>
        {% for user in users %}
        <tr>
            {% if user.image %}
                <td><img class="postProfileImage" src="{{ MEDIA_URL }}{{ user.image }}" /></td>
            {% endif %}
            <td><a href="{{ user.get_url }}">{{ user.username }}</a></td>
            <td>{{ user.info }}</td>
            <td><a href="{% url 'follow' user.username %}">
                {% if request.user|is_following:user.username %}
                    un-follow
                {% else %}
                    follow
                {% endif %}
            </a></td>
        </tr>

        {% endfor %}
    </table>

{% else %}
    <p>Didn't find anyone.</p>
{% endif %}

{% endblock %}