{% extends "base.html" %}

{% block content %}

<p>Searched for: {{ search }}</p>

<h2>People</h2>

{% if people %}
    {% for person in people %}
    <ul>
        <li><a href="{{ person.get_url }}">{{ person }}</a></li>
    </ul>
    {% endfor %}
{% else %}
    <p>Nothing found.</p>
{% endif %}

<h2>Categories</h2>

{% if categories %}
    {% for category in categories %}
    <ul>
        <li><a href="{{ category.get_url }}">{{ category }}</a></li>
    </ul>
    {% endfor %}
{% else %}
    <p>Nothing found.</p>
{% endif %}

<h2>Messages</h2>

{% if posts %}
    {% for post in posts %}
    <ul>
        <li><a href="{{ post.get_url }}">{{ post }}</a></li>
    </ul>
    {% endfor %}
{% else %}
    <p>Nothing found.</p>
{% endif %}

{% endblock %}