{% load microblog_filters %}

{% if users %}
    <table>
        {% for user in users %}
        <tr>
            <td class="postProfileImage">
            {% if user.image %}
                <img src="{{ MEDIA_URL }}{{ user.image }}" />
            {% endif %}
            </td>
            <td><a href="{{ user.get_url }}">{{ user.username }}</a></td>
            <td>{{ user.info }}</td>
            <td>
                {% if request.user == user %}
                    ---
                {% else %}
                    <a href="{% url 'follow' user.username %}?next={{ request.get_full_path|urlencode }}">
                        {% if request.user|is_following:user.username %}
                            un-follow
                        {% else %}
                            follow
                        {% endif %}
                    </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    {% if users.has_previous %}
        <a href="{{ request.path|urlencode }}?page={{ users.previous_page_number }}">previous</a>
    {% endif %}
    <span>Page {{ users.number }} of {{ users.paginator.num_pages }}</span>
    {% if users.has_next %}
        <a href="{{ request.path|urlencode }}?page={{ users.next_page_number }}">next</a>
    {% endif %}
{% else %}
    <p>Didn't find anyone.</p>
{% endif %}